@model IEnumerable<DOMS.Model.DbModels.Brand>

@{
    ViewData["Title"] = "Brands";
}

<h2>Brands</h2>

<p>
    <a asp-action="AddBrand">Add New Brand</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandLogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandDescription)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/images/upload/logo/@item.BrandLogo" width="150" height="auto" style="max-height:150px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
            @Html.HiddenFor(modelItem => item.BrandId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandDescription)
        </td>
        <td>
            @Html.ActionLink("Edit Brand", "EditBrand", new { id=item.BrandId}) |
            @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
        </td>
    </tr>
}
    </tbody>
</table>
