<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span style="color:white;font-size:xx-large;">DOMS</span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Dean Hsu</strong>
                            </span> <span class="text-muted text-xs block">Product Manager <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Index","Manage")">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    DOMS
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Admin")">
                <a href="@Url.Action("Brands", "Admin")"><i class="fa fa-angellist"></i> <span class="nav-label" data-i18n="nav.models">Admin</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Admin", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Brands")"><a href="@Url.Action("Brands", "Admin")">Brands</a></li>
                    <li class="@Html.IsSelected(action: "Families")"><a href="@Url.Action("Families", "Admin")">Families</a></li>
                    <li class="@Html.IsSelected(action: "Catalogues")"><a href="@Url.Action("Catalogues", "Admin")">Catalogues</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Order")">
                <a href="@Url.Action("Index", "Order")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.models">Orders</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Order", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Order")">Orders</a></li>
                    <li class="@Html.IsSelected(action: "Create")"><a href="@Url.Action("Create", "Order")">New Order</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Product")">
                <a href="@Url.Action("Index", "Product")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.projects">Products</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Product", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Product")">Products</a></li>
                    <li class="@Html.IsSelected(action: "Create")"><a href="@Url.Action("Create", "Product")">New Product</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Customer")">
                <a href="@Url.Action("Index", "Customer")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.projects">Customers</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Customer", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Customer")">Customers</a></li>
                    <li class="@Html.IsSelected(action: "Create")"><a href="@Url.Action("Create", "Customer")">New Customer</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>